<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/FFRaycoder/cdn@latest/static/css/insight.css">

<!-- Pjax Loader -->
<div class="loading"><div id="loader"></div></div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/FFRaycoder/cdn@latest/static/css/main-banner.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/FFRaycoder/cdn@latest/static/css/hot-tags.css">
<script src="//cdn.jsdelivr.net/gh/FFRaycoder/cdn@latest/static/js/jquery-3.5.0.min.js"></script>

{{ if .Keywords }} 
    <meta name="keywords" content="{{ delimit .Keywords ", " }}" >
{{ end }}

{{- if .Site.Params.algolia.appId -}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
{{- end -}}

