<!-- Console 输出 -->
<script type="text/javascript">
	console.log("%c Welcome To Ray's Blog "," text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);font-size:5em");
	console.log("%c Welcome To Ray's Blog ", "font-size:100px;color:white;border-radius:20px;height:200px; background:-webkit-linear-gradient(yellow,orange,red,green,blue,purple);text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);");
</script>

<!-- Pjax 
<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.js"></script>
<script>
	var pjax = new Pjax({
		elements: "a",
		selectors: [
			//"t",
			"body",
			//"script",
			"title",
			//"main",
			"footer",
			"header",
			".vexcomment",
			".site-brand",
			//"a",
			//"ul",
			//"#load-comments",
			//".load-comments",
			//"script",
			//".container",
		]
	});
	document.addEventListener('pjax:send', function (){
		$(".loading").css("display", "block");
	});

	document.addEventListener('pjax:complete', function (){
		$(".loading").css("display", "none");
		//loadComments();
	});
	$(document).on("pjax:timeout", function(event) {
		event.preventDefault();
	});
</script> -->

<script src="//cdn.jsdelivr.net/npm/sweetalert"></script>
<script>
    $(function(){
        document.body.oncopy = function() {
            swal({
                title: "没错你复制成功了!",
                text: "转载请注明出处：Ray's Blog(https://raycoder.me)!",
                icon: "success",
                button: "好的我一定会注明出处!",
				timer: 2500,
            });
        };
    });
</script>

<!-- Baidu Analytics -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?458eb53f35b66573079d5bbac284a244";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- 百度推送 -->
<script>
(function(){
	var bp = document.createElement('script');
	var curProtocol = window.location.protocol.split(':')[0];
	if (curProtocol === 'https'){
	 bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
	}
	else{
	bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	}
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(bp, s);
})();
</script>

{{- if .Site.Params.algolia.appId -}}
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
    docsearch({
    apiKey: {{ .Site.Params.algolia.searchOnlyKey }},
    indexName: {{ .Site.Params.algolia.indexName }},
    appId: {{ .Site.Params.algolia.appId }},
    inputSelector: '.docsearch-input',
    debug: false,
    });
</script>
{{- end -}}